body
{   
    width: 100vw;
    BOX-SIZING: border-box;
    height: 98vh;
    
    
    
    background-image: linear-gradient( #FAFAFA ,#dcB7BEFF);


}



.Header
{   
    display: flex;
    width: 100vw;
   
    border-color: rgb(255, 0, 21);
    border-style: dashed;
    justify-content: space-between;
    align-items: center;


}

Header h1 {

    
    font-size: 50px;
    font-family: var(--font-titulo);
    color: var(--color-rosa-medio);
   justify-self: flex-end;
   
}

#MenuEsteticista
{

    display: flex;
    justify-self: flex-start;


}

.Header div 
{
   


}

.Header img{

 width: 100%;
 border-width: 5px;
    border-color: rgb(0, 183, 255);
    border-style: dashed;
    justify-content: space-between;


}

#grid-img 
{   
   
    margin-bottom: 28px;
    
    border-color: rgb(49, 190, 79);
    border-style: dashed;
    justify-content: space-between;
    width: 20%;
    
   
}



main{

    display: flex;
  
    width: 80vw;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    gap: 30%;
    height: 80%;
    align-items: center;
 
     

}

.icones{

    width:60%;
    border-radius: 5px;
    border-width: 5px;
    border-color: blue;
    border-style: dashed;
    

}

.icones a
{
    display: block;
    text-align: center;
    font-size: 20px;
    width: 25%;


    


}

.icones img{
    display: block;
    width: 100%;


}

.Div1
{
    display: flex;
    width: 100%;
    gap: 30px;



}


.Header ul{

    border-radius: 5px;
    margin-left: 15px;


}





@media screen and (max-width: 431px)
{

    main{

        gap: 0%;

    }

    .Div1{
        width: 100%;
       
    }
     
  .icones [title="Fichas_de_Avaliação"] 
  {

    font-size: 15px;

  }

  .Header h1
  {


      font-size: 40px;
  }

  
  .Header img {

    width:50%;

 }

 .Header p{

    font-size: 9px;


}

.icones img{

    width: 400%;
 


}

.icones a
{


    font-size: 16px;
}

body {
    background-image: linear-gradient(white, white);
  }

}
